/* PALETA DE COLORES E INYECCIÓN DE VARIABLES */
:root {
    --primary-color: #6a1b9a;
    /* Morado vibrante */
    --secondary-color: #9c27b0;
    /* Morado claro */
    --dark-color: #2d1b4e;
    /* Textos oscuros */
    --light-gray: #f5f5f5;
    /* Fondo de la pantalla */
    --white: #ffffff;
    /* Fondo de la tarjeta */
}

/*  RESET BASE  */
body {
    margin: 0 !important;
    padding: 0 !important;
    background-color: var(--light-gray);
    font-family: 'Montserrat', sans-serif;
    color: var(--dark-color);
}


/*  BARRA DE NAVEGACIÓN SUPERIOR */
.navbar.bg-custom-purple {
    background-color: var(--primary-color) !important;
    background: var(--primary-color) !important;
    border-radius: 0 !important;
}

/* Estilo para el botón blanco de Cerrar Sesión */
.navbar .btn-outline-light {
    border-color: rgba(255, 255, 255, 0.5) !important;
    color: var(--white) !important;
    border-radius: 50px;
}

.navbar .btn-outline-light:hover {
    background-color: rgba(255, 255, 255, 0.2) !important;
    color: var(--white) !important;
}

/* CONTENEDOR  TARJETA PRINCIPAL */
.container {
    background-color: var(--white);
    padding: 3rem 2.5rem;
    border-radius: 15px;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.06);
    max-width: 900px;
    width: 90%;
    margin: 50px auto;
}

h2 {
    color: var(--primary-color);
    text-align: center;
    font-weight: 700;
}

/* saldo actual */
#saldoActual {
    color: var(--dark-color);
    font-weight: 700;
    font-size: 2.5rem;
    margin-top: 5px;
}

/* BOTONES RESPONSIVOS DEL MENÚ */
.container .btn-primary {
    background-color: var(--primary-color) !important;
    border-color: var(--primary-color) !important;
    color: var(--white) !important;
    padding: 12px 26px;
    font-weight: 600;
    font-size: 1.0rem;
    border-radius: 10px;
    white-space: nowrap;
    transition: all 0.2s ease-in-out;
}

.container .btn-primary:hover {
    background-color: var(--secondary-color) !important;
    border-color: var(--secondary-color) !important;
    transform: translateY(-1px);
    /* Efecto visual sutil al pasar el mouse */
}